@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CI</h1>
    <h6> Its Easyyyyyyyyyyy </h6>
    <h6> Little Lengthyyyyyyyyy </h6>
    <hr>
    <p style="color:green"> CD is implemented </p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
